    <div id="sidebar"><table class="sidebar">
      <tr><td style='height: 14px;'><a href="https://quantusrp.github.io/qtarget/">Overview</a></td></tr>
      <tr><th style='height: 14px; background: rgba(8,8,8,0.1);'>Functions</th></tr>
      <tr><td style='height: 14px;'><a href="https://quantusrp.github.io/qtarget/player">Player</a></td></tr>
      <tr><td style='height: 14px;'><a href="https://quantusrp.github.io/qtarget/ped">Ped</a></td></tr>
      <tr><td style='height: 14px;'><a href="https://quantusrp.github.io/qtarget/vehicle">Vehicle</a></td></tr>
      <tr><td style='height: 14px;'><a href="https://quantusrp.github.io/qtarget/entity">Entity</a></td></tr>
      <tr><td style='height: 14px;'><a href="https://quantusrp.github.io/qtarget/model">Model</a></td></tr>
      <tr><td style='height: 14px;'><a href="https://quantusrp.github.io/qtarget/boxzone">BoxZone</a></td></tr>
      <tr><th style='height: 14px; background: rgba(8,8,8,0.1);'>Links</th></tr>
      <tr><td style='height: 14px;'><a href="https://forum.cfx.re/t/3984356">Release</a></td></tr>
      <tr><td style='height: 14px;'><a href="https://discord.gg/hmcmv3P7YW">Discord</a></td></tr>
    </table></div>
