    <div id="sidebar"><table class="sidebar">
      <tr><td style='height: 14px;'><a href="https://quantusrp.github.io/qtarget/">Overview</a></td></tr>
      <tr><td style='height: 14px; background: rgba(8,8,8,0.05);'>Usage</td></tr>
      <tr><td style='height: 14px;'><a href="https://quantusrp.github.io/qtarget/player">Player</a></td></tr>
      <tr><td style='height: 14px;'><a href="https://quantusrp.github.io/qtarget/ped">Ped</a></td></tr>
      <tr><td style='height: 14px;'><a href="https://quantusrp.github.io/qtarget/vehicle">Vehicle</a></td></tr>
      <tr><td style='height: 14px;'><a href="https://discord.gg/hmcmv3P7YW">Discord</a></td></tr>
    </table></div>
