    <div id="sidebar"><table class="sidebar" style='font-size: 11pt;'>
      <tr><td style='height: 12pt; background: rgba(10, 10, 0, 0.1); font-weight: bold;'>Documentation</th></tr>
      <tr><td style='height: 12pt;'><a href="https://quantusrp.github.io/qtarget/installation">Setup</a></td></tr>
      <tr><td style='height: 12pt;'><a href="https://quantusrp.github.io/qtarget/">Usage</a></td></tr>
      <tr><td style='height: 12pt; background: rgba(10, 10, 0, 0.1); font-weight: bold;'>Functions</th></tr>
      <tr><td style='height: 12pt;'><a href="https://quantusrp.github.io/qtarget/player">Player</a></td></tr>
      <tr><td style='height: 12pt;'><a href="https://quantusrp.github.io/qtarget/ped">Ped</a></td></tr>
      <tr><td style='height: 12pt;'><a href="https://quantusrp.github.io/qtarget/vehicle">Vehicle</a></td></tr>
      <tr><td style='height: 12pt;'><a href="https://quantusrp.github.io/qtarget/entity">Entity</a></td></tr>
      <tr><td style='height: 12pt;'><a href="https://quantusrp.github.io/qtarget/model">Model</a></td></tr>
      <tr><td style='height: 12pt;'><a href="https://quantusrp.github.io/qtarget/boxzone">BoxZone</a></td></tr>
      <tr><td style='height: 12pt; background: rgba(10, 10, 0, 0.1); font-weight: bold;'>Links</th></tr>
      <tr><td style='height: 12pt;'><a href="https://forum.cfx.re/t/3984356">Release</a></td></tr>
      <tr><td style='height: 12pt;'><a href="https://discord.gg/hmcmv3P7YW">Discord</a></td></tr>
    </table></div>
