@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');


.target-wrapper {
	display: none;
}

.target-eye {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	font-size: 3vh;
}

.target-label-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 2vh;
	margin-top: -1.35vh;
}

.target-label {
	list-style: none;
	font-size: 1.3vh;
	font-family: 'Ubuntu';
	color: white;
	text-transform: uppercase;
	user-select: none;
	white-space: nowrap;
	line-height: 1.3vh;
	padding-left: 0.2vh;
}

.target-icon {
	color: #355c83;
}

.target-item {
	background: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.6) 66%, rgba(0,0,0,0) 100%);
	border: 0px;
	border-left: 0.2vh solid #355c83;
	border-radius: 0.2vh;
	margin-bottom: 0.2vh;
	width: 25vh;
	padding-left: 1vh;
	height: 2.16vh;
}

.target-item:hover {
	background: linear-gradient(90deg, rgba(10,10,10,0.7) 0%, rgba(10,10,10,0.6) 66%, rgba(10,10,10,0) 100%);
	border-left: 0.2vh solid #3a658f;
}